<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script> <!-- fetch같은거,, 더 쓰기 편하다고-->
    <script src="https://unpkg.com/vue@2"></script>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div id="app">
        <h2>회 원 관 리</h2>
        <member-add  v-if="addOk" v-on:member-list="memberList" v-on:member-add="memberAdd">
        </member-add>

        <member-list v-if="listOk" v-on:member-add-form="memberAddform" v-bind:object="memberArray"
            v-on:member-edit="memberEditForm" >
        </member-list>

        <member-modify  v-bind:object="memberInfo"
            v-if="editOk" v-on:member-list="memberList" v-on:member-edit="memberEdit"></member-modify>

    </div>


    <script>
        const MemberModify = {
            template: `
            <div>
					<table id="list" border="1" >
						<tr>
							<th>아이디</th>
							<td>
								<input type="text" v-model="id" readonly>
							</td>
						</tr>
						<tr>
							<th>이름</th>
							<td>
								<input type="text"  v-model="name">
							</td>
						</tr>
                        <tr>
							<th>나이</th>
							<td>
								<input type="text" v-model="age">
							</td>
						</tr>
						<tr>
							<th >패스워드</th>
							<td>
								<input type="password" v-model="pass">
							</td>
						</tr>
						<tr>
							<th >패스워드확인</th>
							<td>
								<input type="password" v-model="passCk">
							</td>
						</tr>
						
						<tr>
							<th >주소</th>
							<td>
								<input type="text"  v-model="address">
							</td>
						</tr>
						<tr>
							<th >연락처</th>
							<td>
								<input type="tel" v-model="tel">
							</td>
						</tr>
					</table>
                    <button v-on:click="memberEditChild(id, name, age, pass, passCk, address,tel)">수정</button>
                    <button v-on:click="memberListChild">목록보기</button>
				</div>
            `,
            props: ['object'],
            data: function () {
                return {
                    id: this.object.id,
                    name: this.object.name,
                    age: this.object.age,
                    pass: this.object.pass,
                    passCk: this.object.passCk,
                    address: this.object.address,
                    tel: this.object.tel
                }
            },
            methods: {
                memberListChild: function () {
                    this.$emit('member-list')
                },
                memberEditChild: function () {
                   this.$emit('member-edit', this.id, this.name, this.age, this.pass, this.passCk, this.address, this.tel)
                }
            }

        }
        const MemberList = {
            template: `
    <div>
        <table class="table" border="1">
        <thead>
            <tr>
                <th>회원 아이디</th>
                <th>회원 이름</th>
                <th>회원 나이</th>
              
                <th>주소</th>
                <th>연락처</th>
                <th>수정</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="member in object">
            <td>{{member.id}}</td>
            <td>{{member.name}}</td>
            <td>{{member.age}}</td>
            <td>{{member.address}}</td>
            <td>{{member.tel}}</td>
            <td><button v-on:click="memberEditFormChild(member)">수정</button></td>
            </tr>
        </tbody>
        </table>
        <button v-on:click="memberAddformChild">회원가입으로이동</button>

    </div>
            `,
            props: ['object'],
            methods: {
                memberAddformChild: function () {
                    this.$emit('member-add-form')
                },
                memberEditFormChild: function (info) {
                    this.$emit('member-edit',info)
                }
            }

        }

        const MemberAdd = {
            template: `
            <div>
				<div>
					<table id="list" border="1">
						<tr>
							<th >아이디</th>
							<td >
								<input type="text" v-model="id">
							</td>
						</tr>
						<tr>
							<th>이름</th>
							<td>
								<input type="text" v-model="name">
							</td>
						</tr>
                        <tr>
							<th>나이</th>
							<td>
								<input type="text" v-model="age">
							</td>
						</tr>
						<tr>
							<th >패스워드</th>
							<td>
								<input type="password" v-model="pass">
							</td>
						</tr>
						<tr>
							<th >패스워드확인</th>
							<td>
								<input type="password" v-model="passCk">
							</td>
						</tr>
						
						<tr>
							<th >주소</th>
							<td>
								<input type="text" v-model="address">
							</td>
						</tr>
						<tr>
							<th >연락처</th>
							<td>
								<input type="tel" v-model="tel">
							</td>
						</tr>
					</table>
				</div><br>
                <button v-on:click="memberAddChild">회원저장</button>
                <button v-on:click="memberListChild">목록보기</button>
		</div>
            `,
            data: function () {
                return {
                    id: 'user',
                    name: '김지은',
                    pass: 1234,
                    passCk: 1234,
                    address: '예담',
                    tel: '010',
                    age: '20'
                }
            },
            methods: {
                memberAddChild: function () {
                    this.$emit('member-add', this.id, this.name, this.age, this.pass, this.passCk, this.address,
                        this.tel)
                },
                memberListChild: function () {
                    this.$emit('member-list')
                }

            }
        }
        new Vue({
            el: '#app',
            data: {
                memberArray: [],
                memberInfo: {},
                addOk: true,
                listOk: false,
                editOk: false
            },
            methods: {
                memberAdd: function (id, name, age, pass, passCk, address, tel) {
                    let memberInfo = {
                        id: id,
                        name: name,
                        age: age,
                        pw: pass,
                        passCk: passCk,
                        address: address,
                        tel: tel
                    }
                    this.memberArray.push(memberInfo)
                    this.addOk = false
                    this.listOk = true
                    this.editOk = false
                },
                memberAddform: function() {
                    this.addOk = true
                    this.listOK = false
                    this.editOK = false
                },
                memberList: function () {
                    this.addOk = false
                    this.listOk = true
                    this.editOk = false
                },
                memberEditForm: function (member) {
                    this.memberInfo = member
                    this.addOk = false
                    this.listOk = false
                    this.editOk = true
                },
                memberEdit: function (id,name,age,pass,passCk,address,tel) {
                    memberInfo = {
                        id: id,
                        name: name,
                        age: age,
                        pass: pass,
                        passCk: passCk,
                        address: address,
                        tel: tel
                    }
                    console.log(memberInfo)
                    this.memberArray.forEach((member,idx) => {
                        if(member.id == id){
                            this.memberArray.splice(idx,1,memberInfo)
                        }
                    })
                    this.addOk = false;
                    this.listOK = true;
                    this.editOK = false;



                }
            },
            components: {
                'member-add': MemberAdd,
                'member-list': MemberList,
                'member-modify': MemberModify
            }
        })
    </script>
</body>

</html>